<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pos.priory">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.usb.host" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/app_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activitys.NfcActivity"></activity>
        <activity android:name=".activitys.ExchangeCashCouponActivity" />
        <activity android:name=".activitys.SelectCashCouponActivity" />
        <activity android:name=".activitys.AddFittingActivity" />
        <activity android:name=".activitys.BigInventoryTypesDetialActivity" />
        <activity android:name=".activitys.BigInventoryDetialActivity" />
        <activity
            android:name=".activitys.LoginActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activitys.MainActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activitys.EditPasswordActivity"
            android:windowSoftInputMode="adjustPan|stateVisible" />
        <activity
            android:name=".activitys.SelectDiscountActivity"
            android:windowSoftInputMode="adjustPan|stateVisible" />
        <activity
            android:name=".activitys.MemberActivity"
            android:windowSoftInputMode="adjustPan|stateVisible" />
        <activity
            android:name=".activitys.RegisterMemberActivity"
            android:windowSoftInputMode="adjustPan|stateVisible" />
        <activity
            android:name=".activitys.AddNewOrderActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activitys.DinghuoActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activitys.DinghuoListActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activitys.RepertoryRecordActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activitys.AddOrEditReturnItemActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activitys.BalanceActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activitys.OrderDetialActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activitys.GoodDetialActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activitys.MemberInfoActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activitys.BillActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activitys.ReturnBalanceActivity"
            android:windowSoftInputMode="adjustPan" /> <!-- 以下是增加的代码start， 注意替换应用的包名 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.pos.priory.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service android:name=".services.OTGService">
            <intent-filter>
                <action android:name="OTG_ACTION_SERVICE_START" />
                <action android:name="OTG_ACTION_SERVICE_STOP" />
                <action android:name="OTG_ACTION_CONNECT" />
                <action android:name="OTG_ACTION_SEND_DATA" />
                <action android:name="OTG_ACTION_RECEIVE_DATA" />
                <action android:name="OTG_ACTION_DISCONNECT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.infitack.rxretorfit2library.MyAppGlideModule"
            android:value="AppGlideModule" />
    </application>

</manifest>